<div class="container">
    <div class="row justify-content-center align-items-center"> <!-- Ajout des classes pour centrer horizontalement et verticalement -->
        <div class="col-12 col-md-8 mx-5">
            <div class="card shadow rounded-lg my-8" style="background-color: rgb(231, 231, 178);">
                <div class="card-body p-8">
                    <main>
                        <section>
                            <h2 class="text-center mb-4">Forget your password?</h2>
                            <p class="text-center mb-4">We can send you a reset link.</p>
                        </section>
                        <div class="col-6 col-md-8 mx-auto">
                            <input type="email" class="form-control form-control-lg" id="email" placeholder="Enter your email" [(ngModel)]="email" required>
                        </div>
                        <div class="col-6 col-md-5 mx-auto">
                            <button class="btn btn-primary btn-block mt-4" (click)="resetPassword(email)">Reset Password</button>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>
